
:root {
  /*
  banana yellow is the official color for the logo
  */
  --yellow: rgb(255, 232, 31);
  --card-blue: rgb(30, 150, 220);
  --background-black: rgba(0,0,0,1);
  --shadow: rgba(0,0,0,0.6);
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@font-face {
  font-family:"STARWARS";
  src:url("/fonts/StarWars/STARWARS.eot?") format("eot"),
  url("/fonts/StarWars/STARWARS.woff") format("woff"),
  url("/fonts/StarWars/STARWARS.ttf") format("truetype"),
  url("/fonts/StarWars/STARWARS.svg#STARWARS") format("svg");
  font-weight:normal;
  font-style:normal;
}

body {
  font-family:"STARWARS";
  font-size:1vw; /* at optimal size, this is about 10px */
  color:var(--yellow);
  height:100vh;

  /* background:url('/images/space.jpg') top right no-repeat;
  background-attachment:fixed;
  background-size:cover; */
  background-color:black;
}

a {
  text-decoration: none;
}

.backgroundBlur{
  background-image: radial-gradient(var(--background-black), var(--background-clear));
  text-shadow:
  0.2vw 0.2vw 0.2vw var(--shadow),
  -0.2vw -0.2vw 0.2vw var(--shadow),
  -0.2vw 0.2vw 0.2vw var(--shadow),
  0.2vw -0.2vw 0.2vw var(--shadow);
}

/*
HEADER
*/

.header {
  padding-top:2vw;
  text-align: center;
  /* allows the header to hide other contet */
  background:url('/images/space.jpg') top right no-repeat;
  background-attachment:fixed;
  background-size:cover;
  z-index:10;
  position:sticky;
  top:0;
}

.characterHeader {
  height: 25vw;
}

.filmHeader {
  height: 31vw;
}

h1 {
  font-size: 10em;
}

h2 {
  color: var(--card-blue);
  margin:2vh 0;
  padding:0.1vw 1vw;
  font-size:3em;
  display:inline-block;
}

/*
BACKLINK
*/

.backLinkContainer {
  margin-top: 1.6vw;
}

.backLink {
  text-transform: uppercase;
  width:20vw;
  font-size: 1.8em;
  padding:1.1vw;
  color:black;
  background-color: var(--card-blue);
  border: 0.4vw solid rgba(0, 0, 0, 0);
  border-radius:2%;
}

.backLink:hover {
  border: 0.4vw solid var(--card-blue);
  background-color: rgba(230, 230, 230, 0.8);
}

/*
CHARACTER
*/

.characterContainer {
  margin:2vh auto 0;
  text-align: center;
  display: inline-block;
}

.characterName {
  padding-top: 1.6vw;
  padding: 1vw 1vw 0;
  color:var(--card-blue);
  font-size: 3em;
}

.characterCard {
  height:40vw;
}

/*
FILM PAGE
*/

.filmMainDisplay {
  margin:2vh 2vw;
  display:grid;
  column-gap:5vw;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 1fr;
}

.filmListing {
  display:flex;
  flex-direction: column;
}

.filmComponent {
  margin-top: 2vh;
  color: var(--card-blue);

  display:grid;
  grid-template-areas:
    "title title title"
    "image image meta"
    "image image ."
    ;
  justify-content: left;
}

/*
MEDIA QUERY FOR PHONE AND TABLET
*/

/* phone screen: single column */
@media screen and (max-width:768px){
  body{
    color:var(--card-blue);
  }
}
