
:root {
  /*
  banana yellow is the official color for the logo
  */
  --yellow: rgb(255, 232, 31);
  --card-blue: rgb(30, 150, 220);
  --background-black: rgba(0,0,0,0.85);
  --shadow: rgba(0,0,0,0.6);
  --backlink-white: rgba(230, 230, 230, 0.8);
  --character-header-height: 25vh;
  --film-header-height: 29vh;
  --film-header-height-mobile: 33.5vh;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@font-face {
  font-family:"STARWARS";
  src:url("/fonts/StarWars/STARWARS.eot?") format("eot"),
  url("/fonts/StarWars/STARWARS.woff") format("woff"),
  url("/fonts/StarWars/STARWARS.ttf") format("truetype"),
  url("/fonts/StarWars/STARWARS.svg#STARWARS") format("svg");
  font-weight:normal;
  font-style:normal;
}

html, body {
  height: 100%;
}

body {
  font-family:"STARWARS";
  font-size:1vh; /* at optimal size, this is about 10px */
  color:var(--yellow);
  /* height:100vh; */

  background:url('/images/space.jpg') top right no-repeat;
  background-attachment:fixed;
  background-size:cover;
}

a {
  text-decoration: none;
}

.backgroundBlur{
  background-image: radial-gradient(var(--background-black), var(--background-clear));
  text-shadow:
  0.2vmin 0.2vmin 0.2vmin var(--shadow),
  -0.2vmin -0.2vmin 0.2vmin var(--shadow),
  -0.2vmin 0.2vmin 0.2vmin var(--shadow),
  0.2vmin -0.2vmin 0.2vmin var(--shadow);
}

.mainContent {
  padding-bottom:3vh;
  background-color: var(--background-black);
}

/*
Loading
*/

.loading {
  margin: 4vmin auto;
  font-size: 2vh;
  animation: fadeInOut 2s infinite;
  animation-timing-function: ease-in-out;
  height: 100vh;
}

@keyframes fadeInOut {
  0% {color: var(--yellow);}
  50% {color: var(--background-black);}
  100% {color: var(--yellow);}
}

/*
HEADER
*/

.header {
  padding-top:2vmin;
  text-align: center;
  /* allows the header to hide other contet */
  background:url('/images/space.jpg') top right no-repeat;
  background-attachment:fixed;
  background-size:cover;
  z-index:10;

  position:sticky;
  top:0;
}

.characterHeader {
  height: var(--character-header-height);
}

.filmHeader {
  height: var(--film-header-height);
}

h1 {
  font-size: 10em;
}

.instructions {
  background-color: var(--background-black);
  display: inline-block;
  margin-top: 1vmin;
  color: var(--card-blue);
  font-size: 2.5vmin;
  z-index:15;
}

.characterHeaderName {
  display:none;
}

/*
BACKLINK
*/

.backLinkContainer {
  margin-top: 3vmin;
}

.backLink {
  /* text-transform: uppercase; */
  width:20vmin;
  font-size: 2.5em;
  padding:1.1vmin;
  color:black;
  background-color: var(--card-blue);
  border: 0.4vmin solid rgba(0, 0, 0, 0);
  border-radius:2%;
  text-shadow: 0.1vmin 0.1vmin 0.2vmin var(--backlink-white);
  transition: 0.3s;
}

.backLink:hover {
  border: 0.4vmin solid var(--card-blue);
  background-color: var(--backlink-white);
}

/*
CHARACTER
*/

.characterPage {
  margin: 0 auto;
  padding-bottom: 2vh;
  width: 85vw;
  display: grid;
  grid-gap: 0.2vw;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.characterContainer {
  margin: 0.5vw auto 2vw;
  text-align: center;
}

.innerCharacter {
  display: flex;
  flex-direction: column;
  border: 1vh solid var(--background-black);
  border-radius: 3%;
  transition: 0.3s;
}

.innerCharacterHover:hover {
  border: 1vh solid var(--yellow);
  background-color: var(--yellow);
}

.characterName {
  padding-top: 1.6vw;
  padding: 1vw 1vw 0;
  color:var(--card-blue);
  font-size: 3em;
}

.characterCard {
  height:60vh;
}

/*
FILM PAGE
*/


.filmMainDisplay {
  display:grid;
  grid-gap:2vw;
  grid-template-columns: 1fr 2fr;
}

.filmMainDisplay .characterContainer {
  height: 40vh;
  margin: 4.2vh 2vh;
  border: 0;
}

.filmMainDisplay .innerCharacter {
  border: none;
  display: block;
}

.filmListing {
  margin: 0 auto;

  display:flex;
  flex-direction: column;
  justify-content: center;
}

.filmComponent {
  color: var(--card-blue);
  width: 50vw;
  font-size:2em;

  grid-area:component;

  display:grid;
  column-gap: 3vw;
  grid-template-areas:
    "image title"
    "image meta"
    "image ."
    ;
  justify-content: center;
}

.filmCarosel {
  margin-top: 7vh;
  display:grid;
  grid-template-areas:
  "previous component next";
}

.filmCaroselButton {
  width: 5vw;
  background-color: rgba(255,255,255,0.2);
  color: rgba(255, 255, 255, 0.5);
  font-size: 3em;

  display:flex;
  justify-content: center;
  align-items: center;

  transition:0.3s;
}

.filmCaroselPrevious {
  margin-right:1vw;
  grid-area: previous;
}

.filmCaroselNext {
  margin-left:1vw;
  grid-area:next;
}

.filmCaroselButton:hover {
  background-color: rgba(255,255,255,0.3);
  color: rgba(255, 255, 255, 0.7);
}

/*
Inside the film component
*/

.filmTitle {
  grid-area:title;
  font-size:3em;
  padding:2vh 0 0;
  text-align: center;
}

.filmImageContainer {
  grid-area:image;
}

.filmImage {
  height:60vh;
  border:0.4vh solid var(--card-blue);
}

.filmMeta {
  grid-area:meta;
  justify-self:center;
}

.filmDirectedByContainer {
  margin-top:2vw;
  padding-top:3vw;
  padding:0.5vw;
}

.filmDirectedByHeader {
  display:inline-block;
  font-size:1.5em;
}

.filmDirectedBy {
  display:inline-block;
  margin:1vw;
}

.filmReleasedContainer {
  margin-top:0.5vw;
  padding:0.5vw;
}

.filmReleasedHeader {
  display:inline-block;
  font-size:1.5em;
}

.filmReleasedDayName {
  display:inline-block;
  margin:1vw;
}

.filmReleasedMonthAndDate {
  display:inline-block;
  margin:1vw;
}

.filmReleasedYear {
  display:inline-block;
  margin:1vw;
  font-size:2em;
}

/*
MEDIA QUERY FOR WIDE DISPLAY
*/
@media screen and (min-width:1200px){
  .characterPage {
    margin: 0 auto;
    padding-bottom: 2vh;
    width: 95vw;
    display: grid;
    grid-gap: 0.2vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* ignore this effect on the film page */
  .filmMainDisplay .characterCard {
    height: 60vh;
  }

  .characterCard {
    height:50vh;
  }
}

/*
MEDIA QUERY FOR medium screen on film page
*/

@media screen and (min-width:768px) and (max-width:970px){
  .filmMainDisplay .characterCard {
    height: 50vh;
  }

  .filmCarosel {
    margin-top: 2vh;
  }

  .filmCaroselButton {
    width: 3vw;
    font-size: 2em;
  }

  .filmComponent {
    grid-template-areas:
      "title title"
      "image meta"
      "image ."
      ;
  }

  .filmTitle{
    padding:0;
  }

  .filmImage {
    height:50vh;
    border:0.4vh solid var(--card-blue);
  }
}

/*
MEDIA QUERY FOR PHONE AND TABLET
*/

/* phone screen: single column */
@media screen and (max-width:768px){

  .loading {
    font-size: 4vh;
  }

  .filmHeader {
    height: var(--film-header-height-mobile);
  }

  .instructions {
    margin-top: 1.2vh;
    font-size: 4vw;
  }

  .characterHeaderName {
    margin-top: 1vh;
    padding: 1vh;
    color: var(--card-blue);
    font-size: 5em;
    display: inline-block;
    background-color: var(--background-black);
  }

  .backLink {
    font-size: 4em;
    padding:1vh;
  }

  .characterContainer {
    margin-top: 1.5vh;
  }

  .characterPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .innerCharacter .characterName {
    font-size:4.7em;
  }

  .innerCharacter .characterCard {
    height: auto;
    width: 60vw;
  }

  .filmComponent {
    margin: 3vh auto;

    grid-template-areas:
      "title title title title"
      "image image meta meta"
      /* "image image meta meta" */
      "image image . ."
      ;
  }

  .filmListing {
    top: auto;
    left: auto;
    width: 80vw;
  }

  /*
  Inside the film component
  */

  .filmTitle {
    grid-area:title;
    width:80vw;
    font-size:3em;
    padding:1vw 1.5vw 0;
  }

  .filmImageContainer {
    grid-area:image;
  }

  .filmImage {
    height:55vh;
    border:0.4vw solid var(--card-blue);
  }

  .filmMeta {
    grid-area:meta;
    justify-self:center;
  }

  .filmDirectedByContainer {
    margin-top:2vw;
    padding-top:3vw;
    padding:0.5vw;
  }

  .filmDirectedByHeader {
    display:inline-block;
    font-size:1.5em;
  }

  .filmDirectedBy {
    display:inline-block;
    margin:1vw;
  }

  .filmReleasedContainer {
    margin-top:0.5vw;
    padding:0.5vw;
  }

  .filmReleasedHeader {
    display:inline-block;
    font-size:1.5em;
  }

  .filmReleasedDayName {
    display:inline-block;
    margin:1vw;
  }

  .filmReleasedMonthAndDate {
    display:inline-block;
    margin:1vw;
  }

  .filmReleasedYear {
    display:inline-block;
    margin:1vw;
    font-size:2em;
  }
}
