
:root {
  --yellow: rgb(255, 232, 31);
  --card-blue: rgb(110, 180, 240);
}

* {
  margin:0;
  padding:0;
}

@font-face {
  font-family:"STARWARS";
  src:url("/fonts/StarWars/STARWARS.eot?") format("eot"),
  url("/fonts/StarWars/STARWARS.woff") format("woff"),
  url("/fonts/StarWars/STARWARS.ttf") format("truetype"),
  url("/fonts/StarWars/STARWARS.svg#STARWARS") format("svg");
  font-weight:normal;
  font-style:normal;
}

body {
  font-family:"STARWARS";
  color:var(--yellow);
  height:100vh;
}

.App {
  text-align: center;
  padding-top:16px;
}

.header {
}

h1 {
  font-size: 5rem;
}

h2 {
  margin:1px;
  padding:1px;
  display:inline-block;
  background-color: black;
}

a {
  text-decoration: none;
}

.characterName {
  background-color: black;
  color:var(--card-blue);
  font-size: 2rem;
}

.backLink {
  display:inline-block;
  padding:5px;
  color:black;
  background-color: var(--yellow);
}

.backLink:hover {
  background-color: var(--card-blue);
}

.filmMainDisplay {
  display:grid;
  grid-template-columns: 1fr 2fr;
}

.filmListing {
  display:flex;
  flex-direction: column;
}

.filmComponent {
  margin-top: 16px;
  color: var(--card-blue);

  display:grid;
  grid-template-areas:
    "title title title"
    "image image director"
    "image image released"
    "image image released"
    ;
}
