
/*
MEDIA QUERY FOR WIDE DISPLAY
*/

/*
split the character list into
4 columns instead of two
*/
@media screen and (min-width:1200px){
  .characterPage {
    margin: 0 auto;
    padding-bottom: 2vh;
    width: 95vw;
    display: grid;
    grid-gap: 0.2vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* ignore this effect on the film page */
  .filmMainDisplay .characterCard {
    height: 60vh;
  }

  .characterCard {
    height:50vh;
  }
}

/*
MEDIA QUERY FOR medium screen on film page
*/

/*
the screen gets too cramped in this range,
and so ths sizing and spacing needs to be adjusted
*/
@media screen and (min-width:768px) and (max-width:970px){
  .filmMainDisplay .characterCard {
    height: 50vh;
  }

  .filmCarosel {
    margin-top: 2vh;
  }

  .filmCaroselButton {
    width: 3vw;
    font-size: 2em;
  }

  .filmComponent {
    grid-template-areas:
      "title title"
      "image meta"
      "image ."
      ;
  }

  .filmTitle{
    padding:0;
  }

  .filmImage {
    height:50vh;
    border:0.4vh solid var(--card-blue);
  }

  .filmMeta {
    margin-top: 3vh;
  }
}

/*
MEDIA QUERY FOR PHONE AND TABLET
*/

/*
phone screen: single column
for both the character and film pages

on the film page, don't show the character card anymore
*/
@media screen and (max-width:768px){

  .loading {
    font-size: 4vh;
  }

  .filmHeader {
    height: var(--film-header-height-mobile);
  }

  .instructions {
    margin-top: 1.2vh;
    font-size: 4vw;
  }

  .characterHeaderName {
    margin-top: 1vh;
    padding: 1vh;
    color: var(--card-blue);
    font-size: 5em;
    display: inline-block;
    background-color: var(--background-black);
  }

  .backLink {
    font-size: 4em;
    padding:1vh;
  }

  .characterContainer {
    margin-top: 1.5vh;
  }

  .characterPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .innerCharacter .characterName {
    font-size:4.7em;
  }

  .innerCharacter .characterCard {
    height: auto;
    width: 60vw;
  }

  .filmComponent {
    margin: 3vh auto;

    grid-template-areas:
      "title title title title"
      "image image meta meta"
      "image image . ."
      ;
  }

  .filmListing {
    top: auto;
    left: auto;
    width: 80vw;
  }

  /*
  Inside the film component
  */

  .filmTitle {
    grid-area:title;
    width:80vw;
    font-size:3em;
    padding:1vw 1.5vw 0;
  }

  .filmImageContainer {
    grid-area:image;
    margin-top: 1vh;
  }

  .filmImage {
    height:55vh;
    border:0.4vw solid var(--card-blue);
  }

  .filmMeta {
    grid-area:meta;
    justify-self:center;
  }

  .filmDirectedByContainer {
    margin-top:2vw;
    padding-top:3vw;
    padding:0.5vw;
  }

  .filmDirectedByHeader {
    display:inline-block;
    font-size:1.5em;
  }

  .filmDirectedBy {
    display:inline-block;
    margin:1vw;
  }

  .filmReleasedContainer {
    margin-top:2vw;
    padding:0.5vw;
  }

  .filmReleasedHeader {
    display:inline-block;
    font-size:1.5em;
  }

  .filmReleasedDayName {
    display:inline-block;
    margin:1vw;
  }

  .filmReleasedMonthAndDate {
    display:inline-block;
    margin:1vw;
  }

  .filmReleasedYear {
    display:inline-block;
    margin:1vw;
    font-size:2em;
  }
}
